In [1]:
import numpy as np
import pandas as pd

In [2]:
print(f"The numpy version is :{np.__version__}")

The numpy version is :1.19.2

In [3]:
print(f"The pandas version is :{pd.__version__}")

The pandas version is :1.1.3

In [4]:
url = "C:/Users/HP/Desktop/data.csv"
df = pd.read_csv(url,index_col=0)

In [5]:
df.head(10)

,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
Make,,,,,,,,,,,,,,,
BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500
BMW,1 Series,2012,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,31200
BMW,1 Series,2012,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,26,17,3916,44100
BMW,1 Series,2012,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,39300
BMW,1 Series,2012,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,36900
BMW,1 Series,2013,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,27,18,3916,37200

In [8]:
df.columns

Index(['Model', 'Year', 'Engine Fuel Type', 'Engine HP', 'Engine Cylinders',
       'Transmission Type', 'Driven_Wheels', 'Number of Doors',
       'Market Category', 'Vehicle Size', 'Vehicle Style', 'highway MPG',
       'city mpg', 'Popularity', 'MSRP'],
      dtype='object')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11914 entries, BMW to Lincoln
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Model              11914 non-null  object
 1   Year               11914 non-null  int64
 2   Engine Fuel Type   11911 non-null  object
 3   Engine HP          11845 non-null  float64
 4   Engine Cylinders   11884 non-null  float64
 5   Transmission Type  11914 non-null  object
 6   Driven_Wheels      11914 non-null  object
 7   Number of Doors    11908 non-null  float64
 8   Market Category    8172 non-null   object
 9   Vehicle Size       11914 non-null  object
 10  Vehicle Style      11914 non-null  object
 11  highway MPG        11914 non-null  int64
 12  city mpg           11914 non-null  int64
 13  Popularity         11914 non-null  int64
 14  MSRP               11914 non-null  int64
dtypes: float64(3), int64(5), object(7)
memory usage: 1.5+ MB

### Question 3

What's the average price of BMW cars in the dataset?

In [10]:
#MSRP means manufacturer's suggested retail price and looks like our target

df['MSRP'].index.value_counts() # to confirm if there are no misspelling

Chevrolet        1123
Ford              881
Volkswagen        809
Toyota            746
Dodge             626
Nissan            558
GMC               515
Honda             449
Mazda             423
Cadillac          397
Mercedes-Benz     353
Suzuki            351
BMW               334
Infiniti          330
Audi              328
Hyundai           303
Volvo             281
Subaru            256
Acura             252
Kia               231
Mitsubishi        213
Lexus             202
Buick             196
Chrysler          187
Pontiac           186
Lincoln           164
Oldsmobile        150
Land Rover        143
Porsche           136
Saab              111
Aston Martin       93
Plymouth           82
Bentley            74
Ferrari            69
FIAT               62
Scion              60
Maserati           58
Lamborghini        52
Rolls-Royce        31
Lotus              29
Tesla              18
HUMMER             17
Maybach            16
McLaren             5
Alfa Romeo          5
Spyker              3
Bugatti             3
Genesis             3
Name: Make, dtype: int64

In [11]:
bmw_df = df[df['MSRP'].index == 'BMW']

In [12]:
bmw_df[['MSRP']].describe()

                MSRP
count     334.000000
mean    61546.763473
std     27982.682153
min      4697.000000
25%     42300.000000
50%     51850.000000
75%     79725.000000
max    141200.000000

In [13]:
print(f"The average price of BMW cars in the dataset is: {bmw_df['MSRP'].mean()}")

The average price of BMW cars in the dataset is: 61546.76347305389

### Question 4 

Select a subset of cars after year 2015 (inclusive, i.e. 2015 and after). How many of them have missing values for Engine HP?

In [14]:
yr_15up = df[df['Year'] > 2014 ]

In [15]:
yr_15up['Engine HP'].isnull().sum()

51

### Question 5

- Calculate the average "Engine HP" in the dataset.
- Use the fillna method and to fill the missing values in "Engine HP" with the mean value from the previous step.
- Now, calcualte the average of "Engine HP" again.
- Has it changed?

In [16]:
mean_hp_before = df['Engine HP'].mean()

In [19]:
df['Engine HP'].fillna(mean_hp_before,inplace=True)

In [20]:
mean_hp_after = df['Engine HP'].mean()

In [21]:
print(round(mean_hp_after))
print(round(mean_hp_before))

249
249

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11914 entries, BMW to Lincoln
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Model              11914 non-null  object
 1   Year               11914 non-null  int64
 2   Engine Fuel Type   11911 non-null  object
 3   Engine HP          11914 non-null  float64
 4   Engine Cylinders   11884 non-null  float64
 5   Transmission Type  11914 non-null  object
 6   Driven_Wheels      11914 non-null  object
 7   Number of Doors    11908 non-null  float64
 8   Market Category    8172 non-null   object
 9   Vehicle Size       11914 non-null  object
 10  Vehicle Style      11914 non-null  object
 11  highway MPG        11914 non-null  int64
 12  city mpg           11914 non-null  int64
 13  Popularity         11914 non-null  int64
 14  MSRP               11914 non-null  int64
dtypes: float64(3), int64(5), object(7)
memory usage: 1.5+ MB

### Question 6
- Select all the "Rolls-Royce" cars from the dataset.
- Select only columns "Engine HP", "Engine Cylinders", "highway MPG".
- Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 7 rows).
- Get the underlying NumPy array. Let's call it X.
- Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result     XTX.
- Invert XTX.
- What's the sum of all the elements of the result?

Hint: if the result is negative, re-read the task one more time

In [23]:
roll_royce = df[df.index == "Rolls-Royce"]

In [24]:
df_rr = roll_royce[['Engine HP', 'Engine Cylinders', 'highway MPG']]

In [25]:
df_rr.drop_duplicates(inplace=True)

<ipython-input-25-cf3c07cb7d45>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rr.drop_duplicates(inplace=True)

In [26]:
X =df_rr.to_numpy()

In [27]:
a = X.T

In [28]:
XTX = np.matmul(a,X)

In [29]:
xtx_sum = XTX.sum()

In [30]:
xtx_sum

1970887.0

In [31]:
y = np.array([1000, 1100, 900, 1200, 1000, 850, 1300])

In [34]:
y

array([1000, 1100,  900, 1200, 1000,  850, 1300])

In [38]:
xtx_inv = np.linalg.inv(XTX)

In [46]:
C = np.dot(xtx_inv,a)
w = np.dot(C,y)

In [47]:
w

array([ 0.19989598, 31.02612262, 31.65378877])